* {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(48, 28, 7);
    height: 80px;
    width: 100%;
}
h1 {
    position: absolute;
    left: 10px;
    top:0;
    line-height: 80px;
    color: white;
}
header ul {
    position: absolute;
    right: 1vw;
    top: 0;
    line-height: 100px;

}
header li{
    display: inline;
    margin-right: 4vw;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
text-decoration:underline;
}

.part1 {

    color: white;
    height: 85vh;
    background-image:url("9f7f38d201787e46d28e8a2cc0e8589a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.part1 h2 {
    font-size: 50px;
    margin: 50px;
}

.part1 a {
    color: white;
    padding-top: 200px;
}

@media (max-width: 768px) {
    .contact-box {
        flex-direction: column;
    }

    .left {
        display: none;
    }

    .right {
        padding: 15px;
    }
}