*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px 100px;
}

.container:fter{
    content: '';
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height:100%;
    background: url('../9f7f38d201787e46d28e8a2cc0e8589a.jpg')
}